(
    wind: '🀀',
    turn: '🀀',
    kyoku: 0,
    honba: 0,
    tsumo_cnt: 64,
    players: ((
        wind: '🀀',
        te: (
            hai: [
                '🀚',
                '🀚',
                '🀝',
                '🀕',
                '🀖',
                '🀗',
                '🀗',
                '🀑',
                '🀑',
                '🀗',
                '🀀',
                '🀆',
                '🀄',
            ],
            fuuro: [],
            tsumo: None,
        ),
        riichi: None,
    ), (
        wind: '🀁',
        te: (
            hai: [
                '🀋',
                '🀍',
                '🀍',
                '🀎',
                '🀞',
                '🀉',
                '🀏',
                '🀜',
                '🀟',
                '🀟',
                '🀠',
                '🀓',
                '🀖',
            ],
            fuuro: [
                Kootsu(
                    own: ('🀅', '🀅'),
                    taken: '🀅',
                    from: Left,
                ),
            ],
            tsumo: None,
        ),
        riichi: None,
    ), (
        wind: '🀂',
        te: (
            hai: [
                '🀈',
                '🀊',
                '🀙',
                '🀚',
                '🀝',
                '🀟',
                '🀟',
                '🀒',
                '🀓',
                '🀕',
                '🀐',
                '🀔',
                '🀕',
            ],
            fuuro: [],
            tsumo: None,
        ),
        riichi: None,
    ), (
        wind: '🀃',
        te: (
            hai: [
                '🀊',
                '🀊',
                '🀍',
                '🀇',
                '🀋',
                '🀏',
                '🀜',
                '🀝',
                '🀞',
                '🀠',
                '🀡',
                '🀔',
                '🀘',
            ],
            fuuro: [],
            tsumo: None,
        ),
        riichi: None,
    )),
    yama: [
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        Some('🀎'),
        Some('🀇'),
        Some('🀜'),
        Some('🀋'),
        Some('🀙'),
        Some('🀜'),
        Some('🀑'),
        Some('🀙'),
        Some('🀌'),
        Some('🀂'),
        Some('🀠'),
        Some('🀊'),
        Some('🀂'),
        Some('🀞'),
        Some('🀝'),
        Some('🀡'),
        Some('🀀'),
        Some('🀛'),
        Some('🀃'),
        Some('🀒'),
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
    ],
    hoo: ((
        river: [
            Normal('🀏'),
            Normal('🀘'),
            Normal('🀅'),
            Normal('🀇'),
            Normal('🀐'),
            Normal('🀄'),
            Normal('🀄'),
            Normal('🀂'),
            Normal('🀁'),
            Normal('🀐'),
            Normal('🀡'),
            Normal('🀁'),
            Normal('🀃'),
            Normal('🀃'),
            Normal('🀏'),
        ],
    ), (
        river: [
            Normal('🀄'),
            Normal('🀗'),
            Normal('🀒'),
            Normal('🀁'),
            Normal('🀘'),
            Normal('🀛'),
            Normal('🀉'),
            Normal('🀈'),
            Normal('🀘'),
            Normal('🀙'),
            Normal('🀞'),
            Normal('🀖'),
            Normal('🀕'),
            Normal('🀒'),
            Normal('🀛'),
            Normal('🀈'),
        ],
    ), (
        river: [
            Normal('🀍'),
            Normal('🀅'),
            Normal('🀁'),
            Normal('🀈'),
            Normal('🀉'),
            Normal('🀚'),
            Normal('🀔'),
            Normal('🀐'),
            Normal('🀅'),
            Normal('🀆'),
            Normal('🀉'),
            Normal('🀠'),
            Normal('🀌'),
            Normal('🀓'),
            Normal('🀎'),
            Normal('🀋'),
        ],
    ), (
        river: [
            Normal('🀀'),
            Normal('🀆'),
            Normal('🀓'),
            Normal('🀡'),
            Normal('🀂'),
            Normal('🀔'),
            Normal('🀇'),
            Normal('🀛'),
            Normal('🀎'),
            Normal('🀖'),
            Normal('🀃'),
            Normal('🀌'),
            Normal('🀌'),
            Normal('🀀'),
            Normal('🀑'),
            Normal('🀆'),
        ],
    )),
    dice: (Two, Six),
    score: ((
        riichi_bou: 0,
        score: 25000,
    ), (
        riichi_bou: 0,
        score: 25000,
    ), (
        riichi_bou: 0,
        score: 25000,
    ), (
        riichi_bou: 0,
        score: 25000,
    )),
)
