(
    wind: '🀀',
    turn: '🀂',
    kyoku: 0,
    honba: 0,
    tsumo_cnt: 2,
    players: ((
        wind: '🀀',
        te: (
            hai: [
                '🀍',
                '🀍',
                '🀍',
                '🀟',
                '🀟',
                '🀐',
                '🀒',
                '🀓',
                '🀗',
                '🀗',
                '🀘',
                '🀅',
                '🀅',
            ],
            fuuro: [],
            tsumo: None,
        ),
        riichi: None,
    ), (
        wind: '🀁',
        te: (
            hai: [
                '🀉',
                '🀏',
                '🀜',
                '🀟',
                '🀟',
                '🀠',
                '🀡',
                '🀐',
                '🀑',
                '🀑',
                '🀓',
                '🀖',
                '🀃',
            ],
            fuuro: [],
            tsumo: None,
        ),
        riichi: None,
    ), (
        wind: '🀂',
        te: (
            hai: [
                '🀈',
                '🀊',
                '🀙',
                '🀚',
                '🀝',
                '🀟',
                '🀐',
                '🀔',
                '🀕',
                '🀁',
                '🀂',
                '🀄',
                '🀄',
            ],
            fuuro: [],
            tsumo: None,
        ),
        riichi: None,
    ), (
        wind: '🀃',
        te: (
            hai: [
                '🀇',
                '🀋',
                '🀏',
                '🀜',
                '🀝',
                '🀞',
                '🀠',
                '🀡',
                '🀔',
                '🀘',
                '🀀',
                '🀆',
                '🀄',
            ],
            fuuro: [],
            tsumo: None,
        ),
        riichi: None,
    )),
    yama: [
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        Some('🀎'),
        Some('🀍'),
        Some('🀖'),
        Some('🀗'),
        Some('🀅'),
        Some('🀆'),
        Some('🀇'),
        Some('🀒'),
        Some('🀁'),
        Some('🀓'),
        Some('🀏'),
        Some('🀁'),
        Some('🀈'),
        Some('🀡'),
        Some('🀕'),
        Some('🀘'),
        Some('🀉'),
        Some('🀂'),
        Some('🀕'),
        Some('🀛'),
        Some('🀚'),
        Some('🀔'),
        Some('🀚'),
        Some('🀉'),
        Some('🀔'),
        Some('🀇'),
        Some('🀁'),
        Some('🀈'),
        Some('🀐'),
        Some('🀛'),
        Some('🀚'),
        Some('🀘'),
        Some('🀅'),
        Some('🀎'),
        Some('🀊'),
        Some('🀙'),
        Some('🀆'),
        Some('🀖'),
        Some('🀝'),
        Some('🀞'),
        Some('🀉'),
        Some('🀃'),
        Some('🀞'),
        Some('🀖'),
        Some('🀠'),
        Some('🀌'),
        Some('🀊'),
        Some('🀕'),
        Some('🀌'),
        Some('🀌'),
        Some('🀗'),
        Some('🀒'),
        Some('🀓'),
        Some('🀀'),
        Some('🀃'),
        Some('🀛'),
        Some('🀎'),
        Some('🀑'),
        Some('🀏'),
        Some('🀈'),
        Some('🀋'),
        Some('🀆'),
        Some('🀎'),
        Some('🀇'),
        Some('🀜'),
        Some('🀋'),
        Some('🀙'),
        Some('🀜'),
        Some('🀑'),
        Some('🀙'),
        Some('🀌'),
        Some('🀂'),
        Some('🀠'),
        Some('🀊'),
        Some('🀂'),
        Some('🀞'),
        Some('🀝'),
        Some('🀡'),
        Some('🀀'),
        Some('🀛'),
        Some('🀃'),
        Some('🀒'),
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
        None,
    ],
    hoo: ((
        river: [
            Normal('🀋'),
        ],
    ), (
        river: [
            Normal('🀄'),
        ],
    ), (
        river: [],
    ), (
        river: [],
    )),
    dice: (Two, Six),
    score: (
        (
            riichi_bou: 0,
            score: 25000,
        ),
        (
            riichi_bou: 0,
            score: 25000,
        ),
        (
            riichi_bou: 0,
            score: 25000,
        ),
        (
            riichi_bou: 0,
            score: 25000,
        ),
    )
)
